body {
    background-image: url(../assets/img/Post\ Instagram\ autocuidado\ beleza\ face\ roller\ Minimalista\ Clean\ \(1\)\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

